// colors
$dark-gray : #333; 
$light-gray : #E6E8F2;


$color-primary: #278DEB;
$color-dangar: #73181E;
$color-warning : #F47D85;

// sizes
$s-size : 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$mobile-breakpoint :45rem;
